<!DOCTYPE html>
<html ng-app="bojap">
  <head>
    <title>Bojap</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=yes">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/pure.min.css">
    <link rel="stylesheet" href="css/bojap.css">
  </head>
  
  <body ng-controller="Main" class="ng-cloak">
    <div id="layout"><a id="menuLink" href class="menu-link"><span></span></a>
      <div id="menu">
        <div class="pure-menu pure-menu-open"><a class="pure-menu-heading">Bojap</a>
          <ul id="nav">
            <li><a href="#">Home</a></li>
            <li ng-show="loggedIn()"><a href="#messages">Messages</a></li>
            <li ng-show="loggedIn()"><a href="#profile">Profile</a></li>
            <!-- <li ng-show="loggedIn()"><a href="#hangout">Hangout</a></li> -->
            <li><a href="http://blog.bojap.com/">Blog</a></li>
            <li ng-show="loggedIn()" class="menu-item-divided"><a href="#logout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div id="main" ng-view="ng-view"></div>
    </div>

    <script id="login.html" type="text/ng-template">
      <div class="content">
        <div class="content-subhead">Log in</div>
        <p>
          <form class="pure-form">
            <fieldset class="pure-group">
                <input type="email" class="pure-input-1-2" placeholder="Email" ng-model="login.email">
                <input type="password" class="pure-input-1-2" placeholder="Password" ng-model="login.password">
            </fieldset>

            <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Log in</button>
          </form>
        </p>

        or

        <p><a href="/auth/google" class="pure-button pure-button-success">Log in with Google</a></p>

        <div class="content-subhead">Get started, it is Free!</div>
        <p>
          <form class="pure-form">
            <fieldset>
                <input type="text" placeholder="Name" ng-model="signup.name">
                <input type="email" placeholder="Email" ng-model="signup.email">
                <input type="password" placeholder="Password" ng-model="signup.password">
                <button type="submit" class="pure-button pure-button-primary" ng-click="signup(signup)">Get started!</button>
            </fieldset>
          </form>
        </p>
      </div>
    </script>

    <script id="logout.html" type="text/ng-template">
      Logging out
    </script>

    <script id="landing.html" type="text/ng-template">
      <div class="content">
          <div ng-include src="template"></div>
      </div>
    </script>

    <script id="hangout.html" type="text/ng-template">
      <div class="content">
        <div class="content-subhead">Create a Room</div>
        <p>
          <div id="start_hangout"></div>
        </p>
        <div class="content-subhead">Join a Room</div>
        <p>
          <table class="pure-table pure-table-border">
            <thead>
              <tr>
                <th>Tutor</th>
                <th>Subject</th>
                <th>Participants</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody id="list_rooms"></tbody>
          </table>
        </p>
      </div>
    </script>

    <script id="welcome.html" type="text/ng-template">
      <div ng-controller="Welcome">
        <h2 class="content-header">Welcome</h2>

        {{health | json}}

        <!--
        <p>
          <form>
            <input ng-model="message.channel" placeholder="channel"></input>
            <input ng-model="message.data" placeholder="data"></input>
            <a ng-click="send(message);">Send</a>
          </form>
        </p>
        -->
      </div>
    </script>

    <script id="messages.html" type="text/ng-template">
      <div ng-controller="Message">
        <h2 class="content-header">Private Messages</h2>
        <p><a onclick="$('#compose').toggle()" class="pure-button pure-button-success">Create</a></p>
        <form id="compose" style="display: none;" class="pure-form">
          <fieldset>
            <div class="pure-group">
              <input type="text" placeholder="Recipient" ng-model="input.recipient" class="pure-input-2-3">
              <input type="text" placeholder="Subject" ng-model="input.subject" class="pure-input-2-3">
            </div>
            <div class="pure-group">
              <textarea style="height: 120px;" placeholder="Your Message..." ng-model="input.message" class="pure-input-2-3"></textarea>
            </div>
            <div class="pure-group"><a style="margin: .35em 0;" ng-click="send(input)" class="pure-button pure-button-primary">Send</a></div>
          </fieldset>
        </form>
        <p>
          <table class="pure-table pure-table-horizontal">
            <thead>
              <tr>
                <th>To / From</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Last reply</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="message in messages">
                <td>{{message.users}}</td>
                <td>{{message.subject}}</td>
                <td>{{message.messages[message.messages.length-1].message}}</td>
                <td>{{message.messages[message.messages.length-1].timestamp | date:'MM/dd/yyyy @ h:mma'}}</td>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
    </script>

    <script id="profile.html" type="text/ng-template">
      <div ng-controller="Profile">
        <h2 class="content-header">Profile</h2>
        <form class="pure-form pure-form-aligned">
          <fieldset>
            <div class="pure-control-group">
              <label for="name">Name</label>
              <input id="name" type="text" placeholder="Username" ng-model="input.displayName" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
              <label for="email">Contact Email</label>
              <input id="email" type="email" placeholder="Email Address" ng-model="input.email" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
              <label for="number">Contact Number</label>
              <input id="number" type="number" min="9999999" max="99999999" placeholder="" ng-model="input.phone" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
              <label for="bio">Bio</label>
              <textarea id="bio" style="height: 120px;" placeholder="Tell others about yourself..." ng-model="input.body" class="pure-input-1-2"></textarea>
            </div>
            <div class="pure-controls"><a ng-click="send(input)" class="pure-button pure-button-primary">Save Changes</a></div>
          </fieldset>
        </form>
      </div>
    </script>

    <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular-route.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/vendor/moment-with-langs.min.js"></script>
    <script type="text/javascript" src="js/vendor/faye-browser-min.js"></script>
    <script type="text/javascript" src="js/bojap.js"></script>
    <script type="text/javascript" src="js/factory.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script>

    </script>
  </body>
</html>