<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Bojap</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=yes">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/pure.min.css">
    <link rel="stylesheet" href="css/bojap.css">

  </head>
  <body ng-controller="Main">
    <div id="layout"><a id="menuLink" href class="menu-link"><span></span></a>
      <div id="menu">
        <div class="pure-menu pure-menu-open"><a class="pure-menu-heading">Bojap</a>
          <ul id="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#hangout">Hangout</a></li>
            <li><a href="http://blog.bojap.com/">Blog</a></li>
            <li ng-show="bojap.loggedIn" class="menu-item-divided"><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div id="main" ng-view="ng-view"></div>
    </div>
    <script id="landing.html" type="text/ng-template">
      <div class="content">
        <div class="content-subhead">{{message}}</div>
        <p ng-hide="bojap.loggedIn"><a href="/auth/google" class="pure-button pure-button-success">Sign in with Google</a></p>
        <div ng-show="bojap.loggedIn">
          <p>
            <div class="pure-menu pure-menu-open pure-menu-horizontal">
              <ul>
                <li><a href="#">Welcome</a></li>
                <li><a href="#messages">Messages</a></li>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#settings">Settings</a></li>
                <li><a href="#feedback">Support & Feedback</a></li>
              </ul>
            </div>
          </p>
          <div ng-include src="template"></div>
        </div>
      </div>
    </script>
    <script id="hangout.html" type="text/ng-template">
      <div class="content">
        <div class="content-subhead">Create a Room</div>
        <p>
          <div id="start_hangout"></div>
        </p>
        <div class="content-subhead">Join a Room</div>
        <p>
          <table class="pure-table pure-table-border">
            <thead>
              <tr>
                <th>Tutor</th>
                <th>Subject</th>
                <th>Participants</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody id="list_rooms"></tbody>
          </table>
        </p>
      </div>
    </script>
    <script id="welcome.html" type="text/ng-template">
      <div ng-controller="Welcome">
        <h2 class="content-header">Welcome</h2>
        <p>Tic Tail Step By Step</p>
      </div>
    </script>
    <script id="messages.html" type="text/ng-template">
      <div ng-controller="Message">
        <h2 class="content-header">Private Messages</h2>
        <p><a onclick="$('#compose').toggle()" class="pure-button pure-button-success">Create</a></p>
        <form id="compose" style="display: none;" class="pure-form">
          <fieldset>
            <div class="pure-group">
              <input type="text" placeholder="Recipient" ng-model="input.recipient" class="pure-input-2-3">
              <input type="text" placeholder="Subject" ng-model="input.subject" class="pure-input-2-3">
            </div>
            <div class="pure-group">
              <textarea style="height: 120px;" placeholder="Your Message..." ng-model="input.message" class="pure-input-2-3"></textarea>
            </div>
            <div class="pure-group"><a style="margin: .35em 0;" ng-click="send(input)" class="pure-button pure-button-primary">Send</a></div>
          </fieldset>
        </form>
        <p>
          <table class="pure-table pure-table-horizontal">
            <thead>
              <tr>
                <th>To / From</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Last reply</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="message in messages">
                <td>{{message.users}}</td>
                <td>{{message.subject}}</td>
                <td>{{message.messages[message.messages.length-1].message}}</td>
                <td>{{message.messages[message.messages.length-1].timestamp | date:'MM/dd/yyyy @ h:mma'}}</td>
              </tr>
            </tbody>
          </table>
        </p>
      </div>
    </script>
    <script id="profile.html" type="text/ng-template">
      <div ng-controller="Profile">
        <h2 class="content-header">Profile</h2>
        <form class="pure-form pure-form-aligned">
          <fieldset>
            <div class="pure-control-group">
              <label for="name">Name</label>
              <input id="name" type="text" placeholder="Username" ng-model="input.displayName" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
              <label for="email">Contact Email</label>
              <input id="email" type="email" placeholder="Email Address" ng-model="input.email" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
              <label for="number">Contact Number</label>
              <input id="number" type="number" min="9999999" max="99999999" placeholder="" ng-model="input.phone" class="pure-input-1-2">
            </div>
            <div class="pure-control-group">
              <label for="bio">Bio</label>
              <textarea id="bio" style="height: 120px;" placeholder="Tell others about yourself..." ng-model="input.body" class="pure-input-1-2"></textarea>
            </div>
            <div class="pure-controls"><a ng-click="send(input)" class="pure-button pure-button-primary">Save Changes</a></div>
          </fieldset>
        </form>
        <p>{{profile}}</p>
      </div>
    </script>
    <script id="settings.html" type="text/ng-template">
      <h2 class="content-header">Settings</h2>
      <p>app settings</p>
    </script>
    <script id="feedback.html" type="text/ng-template">
      <h2 class="content-header">Support & Feedback</h2>
      <div ng-controller="Feedback">
        <form id="feedback" class="pure-form">
          <fieldset>
            <div class="pure-group">
              <textarea style="height: 120px;" placeholder="Need help or have suggestions?" ng-model="feedback.body" class="pure-input-2-3"></textarea>
            </div>
            <div class="pure-group"><a style="margin: .35em 0;" ng-click="send(feedback)" class="pure-button pure-button-primary">Send</a></div>
          </fieldset>
        </form>
      </div>
    </script>
    <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/moment-with-langs.min.js"></script>
    <script type="text/javascript" src="app/bojap.js"></script>
  </body>
</html>