<div ng-controller="Message">
  <h2>Private Messages</h2>
  <!--
  <p><a onclick="$('#compose').toggle()" class="btn btn-default">Create</a></p>
  <form id="compose" style="display: none;">
    <input type="text" class="form-control" placeholder="Recipient" ng-model="input.recipient">
    <input type="text" class="form-control" placeholder="Subject" ng-model="input.subject">
    <textarea class="form-control" rows="3" placeholder="Your Message..." ng-model="input.message"></textarea>
    <button type="button" class="btn btn-success" style="margin: .35em 0;" ng-click="send(input)">Send</button>
  </form>
  -->
  <h3 ng-show="messages !== []">You have no messages</h3>
  <p>
    <div ng-repeat="message in messages">
      <td>{{message.users}}</td>
      <td>{{message.subject}}</td>
      <td>{{message.messages[message.messages.length-1].message}}</td>
      <td>{{message.messages[message.messages.length-1].timestamp | date:'MM/dd/yyyy @ h:mma'}}</td>
    </div>
  </p>
  {{messages}}
</div>
