<div ng-controller="Profile">
  <h2>Your Profile</h2>
  <form>
    <div class="form-group">
      <label class="control-label">Contact Number</label>
      <input class="form-control" type="tel" placeholder="" ng-model="input.phone">
    </div>

    <div class="form-group">
      <label class="control-label">About me</label>
      <textarea class="form-control" rows="4" placeholder="Tell others about yourself..." ng-model="input.about"></textarea>
    </div>

    <button class="btn btn-success" type="button" ng-click="save(input)">Save Changes</button>
  </form>

  {{input | json}}
</div>