doctype html
html(ng-app='app')
  head
    title Bojap
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    script(type='text/javascript', src='https://apis.google.com/js/platform.js')
    script.
      var bojap = window.bojap = {}
      bojap.loggedIn = !{loggedIn};
      bojap.user = !{user};

  body(ng-controller='MainCtrl')
    .container(ng-view='ng-view')

    script(id='landing.html', type='text/ng-template')
      .text-center
        h1 Bojap
        p.lead Get help from tutors and study with others
        p(ng-hide="bojap.loggedIn")
          a.btn.btn-lg.btn-success(href='/auth/google', role='button') Sign in with Google
        p(ng-show="bojap.loggedIn")
          a.btn.btn-lg.btn-warning(href='/logout', role='button') Logout
      p {{message}}
      p {{bojap.user}}
      .container
        .row
          .col-sm-4
            p
              #start_hangout
          .col-sm-8
            .panel.panel-default
              .panel-heading Rooms Online
              .panel-body
                table.table.table-striped.table-hover.table-bordered
                  thead
                      tr
                        th Tutor
                        th Subject
                        th Participants
                        th Status
                        th URL
                  tbody#list_rooms

    script(id='app.html', type='text/ng-template')
      .text-center {{message}}

    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/angular.min.js')
    script(src='js/angular-route.min.js')
    script(src='js/bojap.js')
