doctype html
html(ng-app='app')
  head
    title Bojap
    meta(name='viewport', content='width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=yes')

    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/pure.min.css')
    link(rel='stylesheet', href='css/bojap.css')
    
    script.
      var bojap = window.bojap = {};
      bojap.loggedIn = !{loggedIn};
      bojap.user = !{user};

  body(ng-controller='Main')
    #layout
      a(id='menuLink', class='menu-link', href)
        span
      #menu
        .pure-menu.pure-menu-open
          a.pure-menu-heading Bojap
          ul#nav
            li
              a(href='#') Home
            li
              a(href='#hangout') Hangout
            li
              a(href='http://blog.bojap.com/') Blog
            //- li(ng-show="bojap.loggedIn")
              a(href='#settings') Settings
            li.menu-item-divided(ng-show="bojap.loggedIn")
              a(href='/logout') Logout
      #main(ng-view='ng-view')


    script(id='landing.html', type='text/ng-template')
      .content
        .content-subhead {{message}}
        p(ng-hide="bojap.loggedIn")
          a.pure-button.pure-button-success(href='/auth/google') Sign in with Google
        div(ng-show="bojap.loggedIn")
          p
            .pure-menu.pure-menu-open.pure-menu-horizontal
              ul
                li
                  a(href="#") Welcome
                li
                  a(href="#messages") Messages
                li
                  a(href="#profile") Profile
                li
                  a(href="#settings") Settings
                li
                  a(href="#feedback") Support & Feedback

          div(ng-include src="template")


    script(id='hangout.html', type='text/ng-template')
      .content
        .content-subhead Create a Room
        p
          #start_hangout
        .content-subhead Join a Room
        p
          table.pure-table.pure-table-border
            thead
                tr
                  th Tutor
                  th Subject
                  th Participants
                  //- th Status
                  th URL
            tbody#list_rooms

    script(id="welcome.html", type='text/ng-template')
      div(ng-controller="Welcome")
        h2.content-header Welcome
        p Tic Tail Step By Step

    script(id="messages.html", type='text/ng-template')
      div(ng-controller="Message")
        h2.content-header Private Messages
        p
          a.pure-button.pure-button-success(onclick="$('#compose').toggle()") Create
        form.pure-form(id="compose", style="display: none;")
          fieldset
            .pure-group
              input.pure-input-2-3(type="text", placeholder="Recipient", ng-model="input.recipient")
              input.pure-input-2-3(type="text", placeholder="Subject", ng-model="input.subject")
            .pure-group
              textarea.pure-input-2-3(style="height: 120px;", placeholder="Your Message...", ng-model="input.message")
            .pure-group
              a.pure-button.pure-button-primary(style="margin: .35em 0;", ng-click="send(input)") Send

        p
          table.pure-table.pure-table-horizontal
            thead
              tr
                th To / From
                th Subject
                th Message
                th Last reply
            tbody
              tr(ng-repeat='message in messages')
                td {{message.users}}
                td {{message.subject}}
                td {{message.messages[message.messages.length-1].message}}
                td {{message.messages[message.messages.length-1].timestamp | date:'MM/dd/yyyy @ h:mma'}}


    script(id="profile.html", type='text/ng-template')
      div(ng-controller="Profile")
        h2.content-header Profile
        //- p Do you want to learn or do you want to Teach?

        form.pure-form.pure-form-aligned
          fieldset
            .pure-control-group
              label(for='name') Name
              input#name.pure-input-1-2(type='text', placeholder='Username', ng-model="input.displayName")
            .pure-control-group
              label(for='email') Contact Email
              input#email.pure-input-1-2(type='email', placeholder='Email Address', ng-model="input.email")
            .pure-control-group
              label(for="number") Contact Number
              input#number.pure-input-1-2(type="number", min="9999999", max="99999999" placeholder="", ng-model="input.phone")
            .pure-control-group
              label(for="bio") Bio
              textarea#bio.pure-input-1-2(style="height: 120px;", placeholder="Tell others about yourself...", ng-model="input.body")
            .pure-controls
              a.pure-button.pure-button-primary(ng-click="send(input)") Save Changes

         p {{profile}}


    script(id="settings.html", type='text/ng-template')
      h2.content-header Settings
      p app settings


    script(id="feedback.html", type='text/ng-template')
      //- p Redirect to zendesk or other
      h2.content-header Support & Feedback
      div(ng-controller="Feedback")

        form.pure-form(id="feedback")
          fieldset
            .pure-group
              textarea.pure-input-2-3(style="height: 120px;", placeholder="Need help or have suggestions?", ng-model="feedback.body")
            .pure-group
              a.pure-button.pure-button-primary(style="margin: .35em 0;", ng-click="send(feedback)") Send

    script(type='text/javascript', src='https://apis.google.com/js/platform.js')
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/angular.min.js')
    script(type='text/javascript', src='js/angular-route.min.js')
    script(type='text/javascript', src='js/angular-resource.min.js')
    script(type='text/javascript', src='js/moment-with-langs.min.js')
    script(type='text/javascript', src='js/bojap.js')